name: "CI Build and CodeQL Analysis"

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  format:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Install dotnet-format
      run: dotnet tool install --global dotnet-format

    - name: Format
      run: dotnet format --check

  build:
    name: Build & Test
    env:	
      DOTNET_NOLOGO: true

    strategy:
      matrix:
        kind: ['linux', 'windows', 'macOS']
        include:
          - kind: linux
            os: ubuntu-latest
          - kind: windows
            os: windows-latest
          - kind: macOS
            os: macos-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Fetch full history to let nerdbank versioning work.
          fetch-depth: 0

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
           languages: csharp

      - name: Setup dotnet 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Restore Dependencies
        run: |
          dotnet restore

      - name: Build
        run: |
          dotnet build --no-restore

      - name: Test
        run: |
          dotnet test --no-build --verbosity normal

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
